<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../global/global.js"></script>
    <script src="../lib/HTMLEscape.js"></script>
    <title>Matches</title>
</head>
<body>


<table>
    <thead>
    <tr>
        <th>Match Id</th>
        <th>Summoner Names</th>
        <th>Match W/L</th>
        <th>Match Kills</th>
        <th>Match Deaths</th>
    </tr>
    </thead>
    <tbody id="matches-tbody">

    </tbody>
</table>

<script src="./matches.js"></script>
</body>
</html>