<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../global/global.js"></script>
    <title>Summoners</title>
</head>
<body>
<nav>
    <a href="../frontpage/index.html">
        <img id="logo" src="../art_logo.jpeg" alt="logo art">
    </a>
    <a href="../artists/artists.html">Artists</a>
    <a href="../paintings/paintings.html">Paintings</a>
    <a href="../galleries/galleries.html">Galleries</a>
</nav>

<h2 id="summoner-name"></h2>
<h4 id="summoner-accountId"></h4>
<h3 id="summoner-profile-icon-id"></h3>
<p id="summoner-puuid"></p>
<p id="summoner-revisionDate"></p>
<p id="summoner-level"></p>


<script src="./summoners.js"></script>
</body>
</html>