<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/dashboard.css}"/>
</head>
<body>
<h1>Welcome to our riot API, look through champions, matches or your favourite summoners!</h1>
<nav>

<a href="http://localhost:8080/matches/">
<button id="champButton">Champions</button>
</a>

<a href="/summoners/summoners.html">
<button id="summButton">Summoners</button>
</a>

<a href="/matches.html">
<button id="matchButton">Matches</button>
</a>

</nav>
</body>
</html>